*{
margin: 0;
padding:0;
}
*{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}


.logo {
    max-width: 80px;
}


.logo img{
width: 100%;
}


.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

.card {
  box-shadow: 29px 14px 28px 8px rgba(238, 132, 51, 0.3);
  
}

.container-fluid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav li {
  cursor: pointer;
}

.card:hover {
  transition: 1.1s;
  transform: scale(1.1);
}

li{
  list-style: none;
}

footer{
background: #b06767;
}

.copy{
  background: #1f030396;
  padding:15px;
}
.quality{
  padding-bottom: 30px;
}

.material-symbols-outlined{
  top: 9px;
  color: rgb(13, 166, 23);
  position: relative; 
}

.foot{
  padding-top: 110px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 25px;
border-radius: 20px;

}

.btn{
  background: #d79e9e;
}


.fixed-logo {
  position: fixed;    
  bottom: 20px;     
  right: 20px;        
  z-index: 1000;     
}

.fixed-logo img {
  width: 60px;        
  height: 60px;
  border-radius: 50%; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: transform 0.3s;
}

.fixed-logo img:hover {
  transform: scale(1.1); 
}



.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .btn {
  width: 120px;         
  align-self: center;    
}
.card-body {
  display: flex;
  flex-direction: column;
}

.card .btn {
  margin-top: auto;
}

.card-img-top {
  height: 300px; 
  object-fit: cover; 
}

.carousel-item img {
  width: 100%;
  height: 100vh;           
  object-fit: cover; 
  object-position: center; 
}

